.corporation__icon {
    height: 120px;
    @include align;
    justify-content: center;
    background: var(--section-bottom);
    border-radius: 4px;
    margin-bottom: 30px;
}

.corporation {
    display: flex;
    gap: 30px;
}

.corporation__link {
    width: calc((100% - 90px)/4)
}

.tasks {
    padding-top: 94px;
    padding-bottom: 94px;
}

.corporation__caption {
    margin-bottom: 10px;
    color: var(--title-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.corporation__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}